<hr *ngIf="(clientes | async)?.length > 0" />

<div class="card my-2" *ngFor="let cliente of clientes | async">
  <div class="card-body">
    <h4 class="card-title">{{cliente.nome}}</h4>
    <p class="card-text"><strong>CPF: </strong>{{cliente.cpf}}</p>
    <p class="card-text"><strong>E-mail: </strong>{{cliente.email}}</p>
    <p class="card-text"><strong>Data de Nascimento: </strong>{{cliente.dataNasc}}</p>
    <div *ngIf="cliente.cep || cliente.logradouro || cliente.numero || cliente.complemento || cliente.bairro || cliente.cidade">
      <hr>
      <h5>Endereço:</h5>
      <p *ngIf="cliente.cep" class="card-text"><strong>CEP: </strong>{{cliente.cep}}</p>
      <p *ngIf="cliente.logradouro" class="card-text"><strong>Logradouro: </strong>{{cliente.logradouro}}</p>
      <p *ngIf="cliente.numero" class="card-text"><strong>Número: </strong>{{cliente.numero}}</p>
      <p *ngIf="cliente.complemento" class="card-text"><strong>Complemento: </strong>{{cliente.complemento}}</p>
      <p *ngIf="cliente.bairro" class="card-text"><strong>Bairro: </strong>{{cliente.bairro}} <strong
          *ngIf="cliente.cidade"> | Cidade: </strong> {{cliente.cidade}}</p>
    </div>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-secondary" (click)="edit(cliente, cliente.key)">Editar</button>
    <button type="button" class="btn btn-danger mx-2" (click)="delete(cliente.key)">Excluir</button>
  </div>
</div>
