<hr *ngIf="(produtos | async)?.length > 0" />

<div class="card my-2" *ngFor="let produto of produtos | async">
  <div class="card-body">
    <h5 class="card-title">{{produto.nome}}</h5>
    <p class="card-text">{{produto.valorUnitario | currency }}</p>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-secondary" (click)="edit(produto, produto.key)">Editar</button>

    <button
      class="btn btn-danger mx-2"
      mwlConfirmationPopover
      placement="right"
      confirmButtonType="danger"
      [popoverTitle]="popoverTitle"
      [popoverMessage]="popoverMessage"
      [confirmText]="confirmText"
      [cancelText]="cancelText"
      (confirm)="delete(produto.key)"
      (cancel)="cancelClicked = true"
    >
      Excluir
    </button>
  </div>
</div>
