<hr *ngIf="(produtos | async)?.length > 0" />

<div class="card my-2" *ngFor="let produto of produtos | async">
  <div class="card-body">
    <h5 class="card-title">{{produto.nome}}</h5>
    <p class="card-text">{{produto.valorUnitario}}</p>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-secondary" (click)="edit(produto, produto.key)">Editar</button>
    <button type="button" class="btn btn-danger mx-2" (click)="delete(produto.key)">Excluir</button>
  </div>
</div>
