$subtitle: #67718d;
$background: #eee;
$menu-background: #ddd;
$title: #343d58;
$text: #a4a8b4;

* {
  box-sizing: border-box;
}

@mixin breadcrumb-item {
  padding: 10px;
  margin: 15px;
  height: 50px;
  width: 100px;
  align-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgba($menu-background, 0.7);
  text-decoration: none;
  color: $title;
}

.app-container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-image: linear-gradient(to bottom, rgba($background, 1), rgba($background, 0.1));

  .header {
    display: flex;
    justify-content: flex-start;
    height: 30px;

    .logo {
      @include breadcrumb-item;

      background: url("../assets/img/logo.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    ul {
      display: flex;
      list-style: none;


      a {
        @include breadcrumb-item;
        text-decoration: none;
        color: inherit;
        transition: all 0.7s ease;
      }
      a:hover {
        background-color: $menu-background;
      }

      .page-active {
        pointer-events:none;
        background-color: $subtitle;
        color: $background;
      }

    }
  }
}

.content {
  margin-top: 50px;
}

footer {
  min-height: 50px;
  margin-top: auto;
  p {
    text-align: center;
  }
}
