<div class="app-container">
  <div class="header">

    <a routerLink="/">
      <div class="logo">
      </div>
    </a>

    <div class="breadcrumb">
      <nav>
        <ul>
          <li><a routerLink="/clientes">Clientes</a></li>
          <li><a routerLink="/produtos">Produtos</a></li>
          <li><a routerLink="/pedidos">Pedidos</a></li>
        </ul>
      </nav>
    </div>

  </div>

  <div class="content">
    <router-outlet>
    </router-outlet>
  </div>

  <footer>
    <p>
      Developed with &hearts;	by <a href="https://github.com/mspdl/" target="_blank">Morgan</a>
    </p>
  </footer>

</div>
