<div class="app-container">
  <div class="header">

    <a routerLink="/">
      <div class="logo">
      </div>
    </a>

    <div class="breadcrumb">
      <nav>
        <ul>
          <a routerLinkActive="page-active" routerLink="/clientes"><li>Clientes</li></a>
          <a routerLinkActive="page-active" routerLink="/produtos"><li>Produtos</li></a>
          <a routerLinkActive="page-active" routerLink="/pedidos"><li>Pedidos</li></a>
        </ul>
      </nav>
    </div>

  </div>

  <div class="content">
    <router-outlet>
    </router-outlet>
  </div>

  <footer>
    <p>
      Developed with &hearts;	by <a href="https://github.com/mspdl/" target="_blank">Morgan</a>
    </p>
  </footer>

</div>
