<form (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control" [(ngModel)]="produto.nome" name="nome" required />
  </div>

  <div class="form-group">
    <label>Valor Unitario</label>
    <input type="text" mask="separator.2" thousandSeparator="." class="form-control" [(ngModel)]="produto.valorUnitario" name="valor-unitario" />
  </div>

  <button [disabled]="!isValidationOk()" type="submit" class="btn btn-primary mt-2">Salvar</button>
  <button type="button" (click)="reset()" class="btn btn-secondary mt-2 mx-2">Cancel</button>
</form>
