<!--
  <form (ngSubmit)="onSubmit()" ngNativeValidate>

  <div class="form-group mt-2">
    <label>clienteId</label>
    <input type="text" class="form-control" [(ngModel)]="pedido.clienteId" name="clienteId" required />
  </div>

  <button type="submit" class="btn btn-primary mt-2">Salvar</button>
  <button type="button" (click)="reset()" class="btn btn-secondary mt-2 mx-2">Cancel</button>
</form>

-->
<h4>native html select</h4>
<form>
  <label>Select your car (required)</label>
  <select
    #cliente
    matNativeControl
    required
    (change)='onChangeCliente(cliente.value)'
  >
    <option label="--Selecione um cliente --"></option>
    <option *ngFor="let cliente of clientes" [value]="cliente.id">
      {{cliente.nome}}
    </option>
  </select>

  <ng-multiselect-dropdown
  [placeholder]="'Selecione os produtos'"
  [settings]="dropdownSettings"
  [data]="produtos"
  [(ngModel)]="produtosSelecionados"
  (onSelect)="onItemSelect($event)"
  (onDeSelect)="onDeSelect($event)"

>
</ng-multiselect-dropdown>

<div *ngIf="produtosSelecionados.length > 0">
  <h5>Produtos Selecionados</h5>
  <div *ngFor="let produto of produtosSelecionados">
    {{produto.nome}} R$ {{produto.valorUnitario}}
  </div>
  <p>Valor do pedido: {{valorPedido}}</p>
</div>


</form>
