<hr *ngIf="pedidos?.length > 0" />

<div class="card my-2" *ngFor="let pedido of pedidos">
  <div class="card-body">
    <h4 class="card-title">Pedido {{pedido.key}}</h4>
    <p class="created-at">Pedido criado <strong>{{pedido.dataHoraPedido | date: 'dd/MM/yyyy HH:mm:ss'}}</strong></p>
    <h5><strong>Cliente: {{pedido.cliente?.nome}} </strong></h5>
    <h5 class="strong-title">Produtos</h5>
    <div class="produtos-selecionados" *ngFor="let produto of pedido.produtosPedido">
      <p>&bull; {{produto.nome}} - {{produto.valorUnitario | currency }}</p>
    </div>
    <h5 class="strong-title">Valor total do pedido: {{pedido.valorTotalPedido | currency }}</h5>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-danger" (click)="delete(pedido.key)">Excluir</button>
  </div>
</div>
