<hr *ngIf="pedidos?.length > 0" />

<div class="card my-2" *ngFor="let pedido of pedidos">
  <div class="card-body">
    <h4 class="card-title">Pedido {{pedido.key}} - R$ {{pedido.totalVenda}}</h4>
    <p class="card-text"><strong>Cliente: </strong>{{pedido.cliente?.nome}}</p>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-secondary" (click)="edit(pedido, pedido.key)">Editar</button>
    <button type="button" class="btn btn-danger mx-2" (click)="delete(pedido.key)">Excluir</button>
  </div>
</div>
